$colors = {
  white: #ffffff
}

$images-base-url = '../../assets/images/'

/* 公共文字颜色 */
$theme-txt-color = #333333
$theme-txt-color1 = #222222
$theme-txt-color2 = #666666
$theme-txt-color3 = #B8B8B8
$theme-txt-white = $colors.white
$theme-txt-color4 = #4A4A4A
$theme-txt-color5 = #999999
$theme-txt-color6 = #5B5B5B
$c-theme-txt-color1 =#FAFAFA
$c-theme-txt-color2 =#2D2D2D;
$c-theme-txt-color3 = #888888;
$c-theme-txt-color4 = #F67C37;
$c-theme-txt-color5 = #8595BD;
$c-theme-txt-color6 = #686868;
$c-theme-txt-color7 = #A8A8A8;
$c-theme-txt-color8 = #999999;
$c-theme-txt-color9 = #222222;
$j-theme-txt-color1 = #555555;
$c-theme-txt-color10 = #BEBEBE;

/* 公共背景颜色 */
$theme-bg-color = $colors.white
$theme-bg-color1 = #F5F6F6;
$theme-bg-color2 = #F5F5F5;
$theme-bg-color3 = #000000;
$theme-txt-color5 = #F67C37
$theme-txt-color6 = #777777
$theme-txt-color7 = #ADADAD
$theme-txt-color8-j =#787878;
$c-theme-bg-color1 =#FAFAFA;
$c-theme-bg-color2= #F2F2F2;
$c-theme-bg-color3= #DDDDDD;
$j-theme-bg-color4= #CCCCCC;



/* 公共背景颜色 */
$theme-bg-color = $colors.white
$theme-bg-color1 = #F5F6F6
$theme-bg-color2 = #F5F5F5
$theme-bg-color3 = #F67C37
$theme-bg-color4-j = rgba(0,0,0,0.1);
$theme-bg-color5-j = rgba(0,0,0,0.3);

/* 公共边框颜色 */
$theme-bd-color = #EEEEEE
$theme-bd-color2 = #DCDCDC
$theme-bd-color3 = #F67C37
$theme-bd-color4 = #CCCCCC
$c-theme-bd-color1 = #F0F0F0;
$j-theme-bd-color1 = #ececec;



/* 搜索页面文字颜色 */
$theme-search-color1 = #909090;
$theme-search-color2 = #BDBDBD;


/* 搜索历史文字背景颜色 */
$search-text-bg1 = #F5F6F7;

/* 热搜前三背景色和查看更多按钮文字颜色*/
$search-hot-bg1 = #F67C37;
/* 热搜后三背景色*/
$search-hot-bg2 = #F1F1F1;
/* 热搜后三序号文字颜色*/
$search-hot-text1 = #868686;
/* 搜索结果底部边框颜色 */
$search-hot-border1 = #E8E8E8; 
// 搜索完成背景色
$search-end-bg1 = #FAFAFA; 

/* 搜索结果主播关注人数文字颜色 */
$search-hot-text2 = #404040; 

