.login-pages{
  height: 100%; 
  background: #000;
  .header{
    padding-top:70px
    .van-nav-bar{
      padding:0 80px;
      background-color: transparent;
      >>> .nav-title{
        font-size:32px;
        font-family:Noto Sans S Chinese;
        font-weight:normal;
        color:#E1E1E1
      }
      >>> .van-icon{
        color:#FFF;
        font-size:50px
      }
    }
  }
  .main_content{
    .title{
      padding:0 40px;
      .pic_box{
        width:665px;
        height: 329px;
        margin: 70px 0;
      }
    }
    .parcel{
      margin: 0 78px;
      .updatePastitle{
        margin: 100px auto;
        text-align: center;
        font-size: 38px;
        font-family: Noto Sans S Chinese;
        font-weight: normal;
        color: #FFFFFF;
      }
      .van-cell-group{
        background-color: transparent;
        margin-bottom:40px;
          .van-button--primary{
            width:100%;
            background-color: #F67C37;
            border: 0.026667rem solid #F67C37;
            border-radius: 10px;
          }
        .van-cell{
          height:87px;
          line-height:87px;
          padding:0 30px;
          background-color: #0d0d0d;
          color:#ccc;
          border-radius:10px;
          >>> .van-field__control{
            color:#ccc
          }
          >>> .van-field__right-icon{
            position: absolute;
            top: -5px;
            right: 10px;
          }
          >>> .van-field__button{
            position: absolute;
            top: -10px;
            right: -10px;
            width: 150px;
          }
          .area {
            padding-right:10px;
            color:#fff
          }
          .user-cell-right-icon,.pwd{
            width:40px;
            position: relative;
            top: 14px;
          }
        
        }
      }
      .van-row--flex {
        padding: 0 20px;
        color:#ccc
      }
    }
  }
  .footer{
    width: 100%;
    padding: 75px 0;
    text-align: center;
    color:#ccc
  }
}
.footStyl{height:auto}