.following-page{
  .van-cell{
    background: $theme-bg-color2;
    .van-cell__title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      span{
        font-size: 29px;
        color: $theme-txt-color;
        font-weight: 500;
        line-height: 29px;
      }
    }
    .van-cell__label{
      font-size: 22px;
      color: $theme-txt-color1;
      margin-top: 19px;
      line-height: 22px;
    }
  }
  .avatar-img{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    //background-image: url('../../../assets/images/user/icon_mrtx.png');
    background-size: 100%;
    background-position: center;
    margin-right: 19px;
  }
  .van-button{
    padding: 19px 25px;
    height: auto;
    min-width: 121px;
    background: $theme-bg-color3;
    color:$theme-txt-white;
    border-color: $theme-bd-color3;
    .van-button__content{
      font-size: 24px;
      line-height: 24px;
    }
  }
  .do-tasks{
    background: $theme-bg-color2;
    color: $theme-txt-color8-j;
    border-color: $theme-bg-color2;
  }
}