.nickname-page{
  .nickname-input-box{
     width: 641px;
     margin: 0 auto; 
    .van-cell{
      border-bottom: 1px solid $theme-bd-color4;
      background:#f5f5f5;
      padding-bottom: 0;
      padding-left: 14px;
      font-size: 36px;
    }
    .van-field__control{
      color: $theme-txt-color2;
    }
    .van-field__control:focus{
      color: #F67C37;  
    }
    .van-cell:hover{
      border-color: #F67C37;
    }
  }
}