.video-view {
  background-color: $colors.white;
  .live-item-box {
    padding-top: 26px;
    background: $theme-bg-color2;
    padding-bottom: 110px;
    .more-btn {
      width: 227px;
      height: 65px;
      background: $theme-bg-color;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.04);
      border-radius: 6px;
      margin: 10px auto;
      text-align: center;
      line-height: 65px;
      font-size: 24px;
      color: $search-hot-bg1;
    }
  }
}