
.message-page{
  .van-cell:nth-child(1){
    // margin-top: 13px;  
  }
  .van-cell__label{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24px;
    width:650px;
    color: $theme-txt-color6;
  }
  .van-cell__right-icon{
    flex: 1;  
  }
  .van-cell__title{
    color: $theme-txt-color;
    .van-cell-left-title{
      font-size: 27px;
      font-weight: 500;
    }
    .van-cell-right-title{
      font-size: 24px;
    }
  }
  .user-cell-right-icon{
    width: 44.87px;
    height: 44.87px;
  }
}