@import '../common.styl';
.info-page-container{
  .info-page-avatar{
    width: 92.31px;
    height: 92.31px; 
  }
}
.info-page{

  .van-action-sheet__content{
    background-color: $theme-bg-color5-j;
    .content-item{
      height: 70px;
      font-size: 36px;
      background:$theme-bg-color;
      line-height: 70px;
    }
    .content-item:nth-child(1){
      margin-bottom: 1px;
    }
    .van-uploader__input-wrapper{
      width: 100%;
      height: 100%;  
    }
    .van-uploader__wrapper{
      height: 100%;  
      text-align: center;
    }
  } 
}