.anchor-page{
  .anchor-page-header{
    width: 100%;
    height: 342px;
    background: url('../../../assets/images/user/anchor_header_bg.png') no-repeat center center / 100%;
    padding-top: 111px;
    .anchor-header{
      position: relative;
    }
    .anchor-header-title{
      font-size: 38px;
      font-weight: 500;
      color: #FFFFFF;
      text-align: center;
    }
    .left-back-button{
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0;
      img{
        width: 35px;
        height: 35px;
      }
    }
    .left-back-button:active{
      opacity: .8;
    }
  }
  .anchor-info-card{
    margin-top: -136px;
    padding: 0 54px;
    .info-card{
      height: 205px;
      background: #FFFFFF;
      border-radius: 6px;
      padding:23px 58px 19px;
    }
    .anchor-avatar{
      margin-right: 32px;
      img{
        width: 114px;
        height: 114px;
        border-radius: 50%;
      }  
    }
    .anchor-info{
      flex:1;  
    }
    .anchor-nickname{
      font-size: 38px;
      color: #333333;
    }
    .anchor-room-fans{
      font-size: 26px;
      color: #333333;
      .anchor-separator-symbol{
        width: 3px;
        background: #CCCCCC;
        margin: 0 19px;
      }
    }
    .anchor-progress{
      width: 359px;
      height: 26px;
      overflow: hidden;
      position: relative;
      .van-progress{
        height:100%;
        border-radius: 30px;
        background: #AEAEAE;  
      }
      .van-progress__portion{
        background: #379EF6;
      }
      .anchor-progress-pivot-text{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        font-size: 26px;
        color:#fff;
      }
    }
    .anchor-level{
      font-size: 26px;
      color: #363636;
      line-height: 26px;
    }
  }
  .anchor-cell{
    margin-top: 35px;
  }
  .van-empty__image{
    width: 327px;
    height: 231px;
  }
  .van-empty__description{
    font-size: 32px;
    color: #333333;
  }
  .van-button--default{
    margin: 0 auto;
    width: 590px;
    height: 83px;
    background: #F67C37;
    font-size: 38px;
    color: #FFFFFF;
  }
  .no-apply-anchor{
    margin: 201px 0 165px 0;
    font-size: 29px;
    color: #333333;
    text-align: center;
  }
}